{% extends "base.html" %}

{% block content %}
<!-- Home Page Content -->
<div class="home-page d-flex flex-column justify-content-center align-items-center">
    <!-- Background Image -->
    <div class="background-image">
        <!-- The "IMAGE" code will be replaced with an actual image source -->
        <!-- <img src="IMAGE" alt="Background Image"> -->
    </div>

    <!-- Title Text -->
    <h1 class="title-text text-center mt-5">
        Genome Browser and Annotation Tool<br>for Visualising and Analysing Genetic Data.
    </h1>

    <!-- Start Button -->
    <div class="start-button">
        <button>Start</button>
    </div>
</div>
{% endblock %}
